*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ol,
ul,
menu {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.header {
  padding: 0 4rem;

  & > .heading {
    font-size: 6.8rem;
    text-align: center;
  }

  & > ul {
    display: flex;
    gap: 2rem;

    & * {
      font-size: 2.8rem;
      text-decoration: none;
    }
  }
}

.movie-list {
  padding: 1rem 4rem;
}

.movie-item,
.single-movie-page {
  margin-top: 2rem;
  border: 1.5px solid #000;
  border-radius: 0.3rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .heading {
    font-size: 2.8rem;
    text-align: center;
  }

  & .movie-info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > .paragraph {
      font-size: 2rem;
      width: 60%;
    }

    & > .movie-info__detail {
      display: flex;
      flex-direction: column;

      & > span {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }

  & > .view {
    font-size: 1.8rem;
    text-decoration: none;
  }
}

.add-movie-form,
.edit-movie-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0.6rem auto;

    & > label {
      font-size: 1.8rem;
    }

    & > .input {
      font-size: 1.8rem;
      padding: 0.4rem 0.8rem;
    }
  }

  & > .btn {
    width: 50%;
    margin: 0.6rem auto;
    font-size: 2.2rem;
  }
}

.single-movie-page {
  width: 90%;
  margin: 2rem auto;

  & > .btn {
    align-self: stretch;
    width: 90%;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
